# TP1 Science des donnees - Chakirou ALABANI (alac_3501) - Amadou Selle NDIAYE (ndia2909)

In [2]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import cosine,mahalanobis

In [3]:
data = pd.read_csv('data.csv')
print(data.shape)
data.head()

(801, 20532)

,Unnamed: 0,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,...,gene_20521,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530
0,sample_0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,...,4.926711,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0
1,sample_1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,...,4.593372,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0
2,sample_2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,...,5.125213,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0
3,sample_3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,...,6.076566,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0
4,sample_4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,...,5.996032,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0

In [4]:
data_labels = pd.read_csv('labels.csv')
print(data_labels.shape)
data_labels.head()

(801, 2)

  Unnamed: 0 Class
0   sample_0  PRAD
1   sample_1  LUAD
2   sample_2  PRAD
3   sample_3  PRAD
4   sample_4  BRCA

In [5]:
print(data_labels['Class'][0])

PRAD

# Merge

In [6]:
df = pd.merge(data,data_labels, on='Unnamed: 0',how='inner')
df.head()

,Unnamed: 0,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,...,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530,Class
0,sample_0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,...,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0,PRAD
1,sample_1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,...,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0,LUAD
2,sample_2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,...,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0,PRAD
3,sample_3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,...,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0,PRAD
4,sample_4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,...,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0,BRCA

# Pre-traitement

In [7]:
#Suppression de 'Unnamed: 0'
df= df.drop(columns=['Unnamed: 0'],axis=1)
df.head()

,gene_0,gene_1,gene_2,gene_3,gene_4,gene_5,gene_6,gene_7,gene_8,gene_9,...,gene_20522,gene_20523,gene_20524,gene_20525,gene_20526,gene_20527,gene_20528,gene_20529,gene_20530,Class
0,0.0,2.017209,3.265527,5.478487,10.431999,0.0,7.175175,0.591871,0.0,0.0,...,8.210257,9.723516,7.220030,9.119813,12.003135,9.650743,8.921326,5.286759,0.0,PRAD
1,0.0,0.592732,1.588421,7.586157,9.623011,0.0,6.816049,0.000000,0.0,0.0,...,7.323865,9.740931,6.256586,8.381612,12.674552,10.517059,9.397854,2.094168,0.0,LUAD
2,0.0,3.511759,4.327199,6.881787,9.870730,0.0,6.972130,0.452595,0.0,0.0,...,8.127123,10.908640,5.401607,9.911597,9.045255,9.788359,10.090470,1.683023,0.0,PRAD
3,0.0,3.663618,4.507649,6.659068,10.196184,0.0,7.843375,0.434882,0.0,0.0,...,8.792959,10.141520,8.942805,9.601208,11.392682,9.694814,9.684365,3.292001,0.0,PRAD
4,0.0,2.655741,2.821547,6.539454,9.738265,0.0,6.566967,0.360982,0.0,0.0,...,8.891425,10.373790,7.181162,9.846910,11.922439,9.217749,9.461191,5.110372,0.0,BRCA

In [8]:
#Suppression de toutes les colonnes avec plus de 75 % de valeurs nulles
colonnes_a_supprimer=[]

for i in df.columns:
    s=0
    for j in range(df.shape[0]):
        if df[i][j] == 0:
            s+=1
    if (s/df.shape[0]) >= 0.75:
        colonnes_a_supprimer.append(i)

#print(colonnes_a_supprimer)
len(colonnes_a_supprimer)

1927

In [9]:
df_filtree = df.drop(columns=colonnes_a_supprimer,axis=1)

In [10]:
df_filtree.shape

(801, 18605)

In [11]:
#Representation des classes
df_filtree['Class'].value_counts()

Class
BRCA    300
KIRC    146
LUAD    141
PRAD    136
COAD     78
Name: count, dtype: int64

# Methode 1: Calcul de distances

## 1.1 Calcul des centres de classes

In [12]:
#centre des classes
centre_des_classe= {}

liste_classe = df_filtree['Class'].unique()

for classe in liste_classe:
    df_classe_i = df_filtree[df_filtree['Class']==classe]
    centre_df_classe_i = df_classe_i.drop(columns='Class',axis=1).mean()
    #print(centre_df_classe_i)
    centre_des_classe[classe]= centre_df_classe_i

## 1.2 Distance Euclidienne

            ### Distance intra classe

In [13]:

distance_intra_classe_euclid={}

for classe  in liste_classe:
    
    dfclasse=df_filtree[df_filtree['Class']==classe]
    dfclasse_without_target=dfclasse.drop(columns='Class',axis=1)

    
    dist = np.linalg.norm(dfclasse_without_target- centre_des_classe[classe],axis=1)
    
    distance_intra_classe_euclid[classe]= max(dist)


for key, value in distance_intra_classe_euclid.items():
    print(f"La distance intra-classe entre {key} est {value:.2f}")

La distance intra-classe entre PRAD est 238.83
La distance intra-classe entre LUAD est 255.74
La distance intra-classe entre BRCA est 256.19
La distance intra-classe entre KIRC est 261.30
La distance intra-classe entre COAD est 248.11

            ### Distance inter classe

In [14]:
distance_inter_classe_euclid={}

for i  in range(0,len(liste_classe)):

    dfclasse_i=df_filtree[df_filtree['Class']==liste_classe[i]]
    dfclasse_i_without_target=dfclasse_i.drop(columns='Class',axis=1)

    for j in range(i+1,len(liste_classe)):
        
        min_list=[]

        
        dfclasse_j=df_filtree[df_filtree['Class']==liste_classe[j]]
        dfclasse_j_without_target=dfclasse_j.drop(columns='Class',axis=1)

        
        dist_i_j = np.linalg.norm(dfclasse_i_without_target - centre_des_classe[liste_classe[j]],axis=1)
        min_list.append(min(dist_i_j))

        dist_j_i = np.linalg.norm(dfclasse_j_without_target - centre_des_classe[liste_classe[i]],axis=1)
        min_list.append(min(dist_j_i))

        distance_inter_classe_euclid[f"{liste_classe[i]} - {liste_classe[j]}"]= min(min_list)



for key, value in distance_inter_classe_euclid.items():
    print(f"La distance inter-classe entre {key} est {value:.2f}")

La distance inter-classe entre PRAD - LUAD est 185.48
La distance inter-classe entre PRAD - BRCA est 176.37
La distance inter-classe entre PRAD - KIRC est 225.05
La distance inter-classe entre PRAD - COAD est 216.53
La distance inter-classe entre LUAD - BRCA est 166.35
La distance inter-classe entre LUAD - KIRC est 198.81
La distance inter-classe entre LUAD - COAD est 180.42
La distance inter-classe entre BRCA - KIRC est 213.97
La distance inter-classe entre BRCA - COAD est 195.65
La distance inter-classe entre KIRC - COAD est 220.86

            ### OverLap

In [15]:
overlap_euclid={}

for i  in range(0,len(liste_classe)):
    classe_i =liste_classe[i]
    for j in range(i+1,len(liste_classe)):
        
        classe_j =liste_classe[j]

        distance_inter_i_j= distance_inter_classe_euclid[f"{classe_i} - {classe_j}"]

        overlap_i_j = (distance_intra_classe_euclid[classe_i] + distance_intra_classe_euclid[classe_j])/ (2 * distance_inter_i_j)
        overlap_euclid[f"{classe_i} - {classe_j}"]=overlap_i_j


for key, value in overlap_euclid.items():
    print(f"L'overlap de {key} est {value:.2f}")

    if value < 1:
        print(f"les classes {key} sont bien separees.")
    else:
        print(f"les classes {key} ne sont pas bien separees.")

L'overlap de PRAD - LUAD est 1.33
les classes PRAD - LUAD ne sont pas bien separees.
L'overlap de PRAD - BRCA est 1.40
les classes PRAD - BRCA ne sont pas bien separees.
L'overlap de PRAD - KIRC est 1.11
les classes PRAD - KIRC ne sont pas bien separees.
L'overlap de PRAD - COAD est 1.12
les classes PRAD - COAD ne sont pas bien separees.
L'overlap de LUAD - BRCA est 1.54
les classes LUAD - BRCA ne sont pas bien separees.
L'overlap de LUAD - KIRC est 1.30
les classes LUAD - KIRC ne sont pas bien separees.
L'overlap de LUAD - COAD est 1.40
les classes LUAD - COAD ne sont pas bien separees.
L'overlap de BRCA - KIRC est 1.21
les classes BRCA - KIRC ne sont pas bien separees.
L'overlap de BRCA - COAD est 1.29
les classes BRCA - COAD ne sont pas bien separees.
L'overlap de KIRC - COAD est 1.15
les classes KIRC - COAD ne sont pas bien separees.

## 1.3 Distance Cosinus

            ### Distance intra classe

In [16]:
distance_intra_classe_cosinus={}

for classe  in liste_classe:
    list_dist=[]
    
    dfclasse=df_filtree[df_filtree['Class']==classe]
    dfclasse_without_target=dfclasse.drop(columns='Class',axis=1)

    for i in range(dfclasse_without_target.shape[0]):
        dist = cosine(dfclasse_without_target.iloc[i,:],centre_des_classe[classe])
        list_dist.append(dist)

    distance_intra_classe_cosinus[classe]= max(list_dist)


for key, value in distance_intra_classe_cosinus.items():
    print(f"La distance intra-classe entre {key} est {value:.4f}")

La distance intra-classe entre PRAD est 0.0245
La distance intra-classe entre LUAD est 0.0281
La distance intra-classe entre BRCA est 0.0287
La distance intra-classe entre KIRC est 0.0282
La distance intra-classe entre COAD est 0.0231

            ### Distance inter classe

In [17]:
distance_inter_classe_coinus={}

for i  in range(0,len(liste_classe)):

    dfclasse_i=df_filtree[df_filtree['Class']==liste_classe[i]]
    dfclasse_i_without_target=dfclasse_i.drop(columns='Class',axis=1)

    for j in range(i+1,len(liste_classe)):
        
        
        min_list=[]

        dfclasse_j=df_filtree[df_filtree['Class']==liste_classe[j]]
        dfclasse_j_without_target=dfclasse_j.drop(columns='Class',axis=1)

        listx=[]
        for x in range(dfclasse_i_without_target.shape[0]):
            dist_i_j = cosine(dfclasse_i_without_target.iloc[x,:], centre_des_classe[liste_classe[j]])
            listx.append(dist_i_j)

        min_list.append(min(listx))
        
        listz=[]
        for z in range(dfclasse_j_without_target.shape[0]):
            dist_j_i = cosine(dfclasse_j_without_target.iloc[z,:], centre_des_classe[liste_classe[i]])
            listz.append(dist_j_i)

        min_list.append(min(listz))
        
        distance_inter_classe_coinus[f"{liste_classe[i]} - {liste_classe[j]}"]= min(min_list)



for key, value in distance_inter_classe_coinus.items():
    print(f"La distance inter-classe entre {key} est {value:.4f}")

La distance inter-classe entre PRAD - LUAD est 0.0140
La distance inter-classe entre PRAD - BRCA est 0.0125
La distance inter-classe entre PRAD - KIRC est 0.0207
La distance inter-classe entre PRAD - COAD est 0.0193
La distance inter-classe entre LUAD - BRCA est 0.0112
La distance inter-classe entre LUAD - KIRC est 0.0160
La distance inter-classe entre LUAD - COAD est 0.0138
La distance inter-classe entre BRCA - KIRC est 0.0188
La distance inter-classe entre BRCA - COAD est 0.0157
La distance inter-classe entre KIRC - COAD est 0.0201

            ### Overlap

In [18]:
overlap_cosinus={}

for i  in range(0,len(liste_classe)):
    classe_i =liste_classe[i]
    for j in range(i+1,len(liste_classe)):
        
        classe_j =liste_classe[j]

        distance_inter_i_j= distance_inter_classe_coinus[f"{classe_i} - {classe_j}"]

        overlap_i_j = (distance_intra_classe_cosinus[classe_i] + distance_intra_classe_cosinus[classe_j])/ (2 * distance_inter_i_j)
        overlap_cosinus[f"{classe_i} - {classe_j}"]=overlap_i_j


for key, value in overlap_cosinus.items():
    print(f"L'overlap de {key} est {value:.2f}")

    if value < 1:
        print(f"les classes {key} sont bien separees.")
    else:
        print(f"les classes {key} ne sont pas bien separees.")

L'overlap de PRAD - LUAD est 1.88
les classes PRAD - LUAD ne sont pas bien separees.
L'overlap de PRAD - BRCA est 2.13
les classes PRAD - BRCA ne sont pas bien separees.
L'overlap de PRAD - KIRC est 1.27
les classes PRAD - KIRC ne sont pas bien separees.
L'overlap de PRAD - COAD est 1.23
les classes PRAD - COAD ne sont pas bien separees.
L'overlap de LUAD - BRCA est 2.53
les classes LUAD - BRCA ne sont pas bien separees.
L'overlap de LUAD - KIRC est 1.76
les classes LUAD - KIRC ne sont pas bien separees.
L'overlap de LUAD - COAD est 1.86
les classes LUAD - COAD ne sont pas bien separees.
L'overlap de BRCA - KIRC est 1.52
les classes BRCA - KIRC ne sont pas bien separees.
L'overlap de BRCA - COAD est 1.65
les classes BRCA - COAD ne sont pas bien separees.
L'overlap de KIRC - COAD est 1.28
les classes KIRC - COAD ne sont pas bien separees.

## 1.4 Distance Mahalanobis

In [19]:
df_mahalanobis_selection=df_filtree.iloc[:,13700:13850]
df_mahalanobis_selection['Class']=df_filtree['Class']

In [52]:
#centre des classes
centre_des_classe_mahalanobis= {}


for classe in liste_classe:
    df_classe_i = df_mahalanobis_selection[df_mahalanobis_selection['Class']==classe]
    centre_df_classe_i = df_classe_i.drop(columns='Class',axis=1).mean()
    
    centre_des_classe_mahalanobis[classe]= centre_df_classe_i

            ### Distance intra classe

In [31]:
distance_intra_classe_mahalanobis={}

for classe  in liste_classe:
    list_dist=[]
    
    dfclasse=df_mahalanobis_selection[df_mahalanobis_selection['Class']==classe]
    dfclasse_without_target=dfclasse.drop(columns='Class',axis=1).values

    cov= np.cov(dfclasse_without_target.T,ddof=1)

    for i in range(dfclasse_without_target.shape[0]):
        dist = mahalanobis(dfclasse_without_target[i,:],centre_des_classe_mahalanobis[classe],np.linalg.pinv(cov))
        list_dist.append(dist)

    distance_intra_classe_mahalanobis[classe]= max(list_dist)


for key, value in distance_intra_classe_mahalanobis.items():
    print(f"La distance intra-classe entre {key} est {value:.2f}")

La distance intra-classe entre PRAD est 11.58
La distance intra-classe entre LUAD est 11.79
La distance intra-classe entre BRCA est 15.40
La distance intra-classe entre KIRC est 12.00
La distance intra-classe entre COAD est 8.72

            ### Distance inter classe

In [51]:
distance_inter_classe_mahalanobis={}

for i  in range(0,len(liste_classe)):

   dfclasse_i = df_mahalanobis_selection[df_mahalanobis_selection['Class']==liste_classe[i]]
   dfclasse_without_target_i = dfclasse.drop(columns='Class',axis=1)

   list_dist =[]

   for j in range(i+1,len(liste_classe)):
      dfclasse_j = df_mahalanobis_selection[df_mahalanobis_selection['Class']==liste_classe[j]]
      dfclasse_without_target_j = dfclasse.drop(columns='Class',axis=1)
   
   
      listx=[]
      for x in range(dfclasse_without_target_i.shape[0]):
         dist_i_j = mahalanobis(dfclasse_without_target_i.iloc[x,:],centre_des_classe_mahalanobis[liste_classe[j]].values,np.linalg.pinv(np.cov(dfclasse_without_target_j.T)))
         listx.append(dist_i_j)

      list_dist.append(min(listx))

      listz=[]
      for z in range(dfclasse_without_target_j.shape[0]):
         dist_j_i = mahalanobis(dfclasse_without_target_j.iloc[z,:],centre_des_classe_mahalanobis[liste_classe[i]].values,np.linalg.pinv(np.cov(dfclasse_without_target_i.T)))
         listz.append(dist_j_i)
      
      list_dist.append(min(listz))

      distance_inter_classe_mahalanobis[f"{liste_classe[i]} - {liste_classe[j]}"]= min(list_dist)

for key, value in distance_inter_classe_mahalanobis.items():
   print(f"La distance inter-classe entre {key} est {value:.2f}")

La distance inter-classe entre PRAD - LUAD est 18.41
La distance inter-classe entre PRAD - BRCA est 16.54
La distance inter-classe entre PRAD - KIRC est 16.54
La distance inter-classe entre PRAD - COAD est 8.72
La distance inter-classe entre LUAD - BRCA est 16.54
La distance inter-classe entre LUAD - KIRC est 16.54
La distance inter-classe entre LUAD - COAD est 8.72
La distance inter-classe entre BRCA - KIRC est 16.54
La distance inter-classe entre BRCA - COAD est 8.72
La distance inter-classe entre KIRC - COAD est 8.72

            ### Overlap

In [53]:
overlap_mahalanobis={}

for i  in range(0,len(liste_classe)):
    classe_i =liste_classe[i]
    for j in range(i+1,len(liste_classe)):
        
        classe_j =liste_classe[j]

        distance_inter_i_j= distance_inter_classe_mahalanobis[f"{classe_i} - {classe_j}"]

        overlap_i_j = (distance_intra_classe_mahalanobis[classe_i] + distance_intra_classe_mahalanobis[classe_j])/ (2 * distance_inter_i_j)
        overlap_mahalanobis[f"{classe_i} - {classe_j}"]=overlap_i_j


for key, value in overlap_mahalanobis.items():
    print(f"L'overlap de {key} est {value:.2f}")

    if value < 1:
        print(f"les classes {key} sont bien separees.")
    else:
        print(f"les classes {key} ne sont pas bien separees.")

L'overlap de PRAD - LUAD est 0.63
les classes PRAD - LUAD sont bien separees.
L'overlap de PRAD - BRCA est 0.82
les classes PRAD - BRCA sont bien separees.
L'overlap de PRAD - KIRC est 0.71
les classes PRAD - KIRC sont bien separees.
L'overlap de PRAD - COAD est 1.16
les classes PRAD - COAD ne sont pas bien separees.
L'overlap de LUAD - BRCA est 0.82
les classes LUAD - BRCA sont bien separees.
L'overlap de LUAD - KIRC est 0.72
les classes LUAD - KIRC sont bien separees.
L'overlap de LUAD - COAD est 1.18
les classes LUAD - COAD ne sont pas bien separees.
L'overlap de BRCA - KIRC est 0.83
les classes BRCA - KIRC sont bien separees.
L'overlap de BRCA - COAD est 1.38
les classes BRCA - COAD ne sont pas bien separees.
L'overlap de KIRC - COAD est 1.19
les classes KIRC - COAD ne sont pas bien separees.

# Notes

- Je vais merge les deux datasets pour avoir la correspondance de chaque espece a sa classe
- Apres je vais faire un pre-traitement vu qu'il y'a beaucoup de colonnes qui n'ont pas assez d'informations (Beaucoup de 0). La colonne Unamed:0 pourra etre enleve aussi.
- Ensuite je pourrai proceder au calcul de distance
- distance euclidienne la fonction nous permet l'operation par vecteur
- distance cosinus on doit parcourir le df par ligne et faire l'addition
- Lors du calcul de la matrice inv on a utilise pinv() au lieu de lieu de inv() par ce que les matrices n'etaient pas carres